@model List<string>
@{
    ViewData["Title"] = "FYP Allocation Results";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>FYPAlloc</h1>

    @foreach (var item in Model)
    {
        <p>@item</p>
    }
    <div class="text-center position">
        <a asp-controller="Allocation" asp-action="Export_Log" class="btncustom">Download complete allocation log</a>
    </div>


</body>
</html>

