<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1 class="align-content-center">FYP: Staff Submission</h1>
    <form>
        <div class="form-group">
            <label for="input1">Title/Area</label>
            <input type="text" class="form-control" id="input1" placeholder="Enter area">
        </div>
        <div class="form-group">
            <label for="input2">Supervisor</label>
            <input type="text" class="form-control" id="input2" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="input3">Co-Supervisor (if applicable)</label>
            <input type="text" class="form-control" id="input3" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="textarea1">Main subject Area/s (keywords/tags: not more than 5)</label>
            <textarea class="form-control" id="textarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="textarea2">Brief Project Description inc. References (word limit approx. 300 words)</label>
            <textarea class="form-control" id="textarea2" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="textarea3">Resources Required (if student needs to buy them)</label>
            <textarea class="form-control" id="textarea3" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="textarea4">Recommended Prerequisites / Knowledge Required and supporting 3rd Year study-units</label>
            <textarea class="form-control" id="textarea4" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="textarea4">Foreseeable Etichal Issues and How these will be tackled (if applicable)</label>
            <textarea class="form-control" id="textarea4" rows="3"></textarea>
        </div>
        <div class="text-center position">
            <button type="submit" class="btncustom">Save</button>
        </div>
    </form>
</body>
</html>

