@model FYPAllocationTest.ViewModels.LoginViewModel

<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <div>
        <img src="~/images/uom.png" />
        <h2 class="nav-item">Sign In to UM IT Account</h2>
        <form asp-action="Login" asp-controller="Accounts" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" value="Email address" class="col-md-4"></label>
                <div class="col-md-10">
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" class="btn btncustom" value="Log in" />
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>



