@{
    ViewData["Title"] = "Error";
}



<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <img src="~/images/uom.png" />
    <h2 class="nav-item">Something Went Wrong</h2>
    <p>There was an error, the page wasn't found or you don't have the right privileges</p>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-10">
                <a class="btn btncustom" asp-controller="Home" asp-action="Index">Return to home</a>
            </dt>
        </dl>
    </div>


</body>
</html>



