
@{
    ViewData["Title"] = "FormA";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1 class="align-content-center">Form A: Student Submission</h1>
    <form>
        <div class="row">
            <div class="col">
                <label for="input1">Name and Surname</label>
                <input type="text" class="form-control" id="input1" placeholder="Full name">
            </div>
            <div class="col">
                <label for="input2">ID Number</label>
                <input type="text" class="form-control" id="input2" placeholder="######Z">
            </div>
        </div>
        <div class="form-group">
            <label for="select1">Preference 1</label>
            <select class="form-control" id="select1">
                <option value="" disabled selected>Select an area</option>
                <option>abc</option>
                <option>def</option>
                <option>ghi</option>
                <option>jkl</option>
                <option>mno</option>
            </select>

            <select class="form-control" id="select2">
                <option value="" disabled selected>Supervisor/s</option>
                <option>abc</option>
                <option>def</option>
                <option>ghi</option>
                <option>jkl</option>
                <option>mno</option>
            </select>
        </div>
        <div class="form-group">
            <label for="select2">Preference 2</label>
            <select class="form-control" id="select3">
                <option value="" disabled selected>Select an area</option>
                <option>abc</option>
                <option>def</option>
                <option>ghi</option>
                <option>jkl</option>
                <option>mno</option>
            </select>

            <select class="form-control" id="select4">
                <option value="" disabled selected>Supervisor/s</option>
                <option>abc</option>
                <option>def</option>
                <option>ghi</option>
                <option>jkl</option>
                <option>mno</option>
            </select>
        </div>
        <div class="form-group">
            <label for="select3">Preference 3</label>
            <select class="form-control" id="select5">
                <option value="" disabled selected>Select an area</option>
                <option>abc</option>
                <option>def</option>
                <option>ghi</option>
                <option>jkl</option>
                <option>mno</option>
            </select>

            <select class="form-control" id="select6">
                <option value="" disabled selected>Supervisor/s</option>
                <option>abc</option>
                <option>def</option>
                <option>ghi</option>
                <option>jkl</option>
                <option>mno</option>
            </select>
        </div>
        <div class="form-group">
            <label for="select4">Preference 4</label>
            <select class="form-control" id="select7">
                <option value="" disabled selected>Select an area</option>
                <option>abc</option>
                <option>def</option>
                <option>ghi</option>
                <option>jkl</option>
                <option>mno</option>
            </select>

            <select class="form-control" id="select8">
                <option value="" disabled selected>Supervisor/s</option>
                <option>abc</option>
                <option>def</option>
                <option>ghi</option>
                <option>jkl</option>
                <option>mno</option>
            </select>
        </div>
        <div class="form-group">
            <label for="select5">Preference 5</label>
            <select class="form-control" id="select9">
                <option value="" disabled selected>Select an area</option>
                <option>abc</option>
                <option>def</option>
                <option>ghi</option>
                <option>jkl</option>
                <option>mno</option>
            </select>

            <select class="form-control" id="select10">
                <option value="" disabled selected>Supervisor/s</option>
                <option>abc</option>
                <option>def</option>
                <option>ghi</option>
                <option>jkl</option>
                <option>mno</option>
            </select>
        </div>
        <div class="form-group">
            <label for="select6">Preference 6</label>
            <select class="form-control" id="select11">
                <option value="" disabled selected>Select an area</option>
                <option>abc</option>
                <option>def</option>
                <option>ghi</option>
                <option>jkl</option>
                <option>mno</option>
            </select>

            <select class="form-control" id="select12">
                <option value="" disabled selected>Supervisor/s</option>
                <option>abc</option>
                <option>def</option>
                <option>ghi</option>
                <option>jkl</option>
                <option>mno</option>
            </select>
        </div>
        <div class="position">
            <button type="submit" class="btncustom btn-primary">Submit</button>
        </div>
    </form>
</body>
</html>

