@model FYPAllocationTest.ViewModels.StudentViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <p id="success" class="alert-success">@ViewBag.success</p>
    <p id="denied" class="alert-warning">@ViewBag.denied</p>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom-home">
        <a class="navbar-brand" href="#"><img src="~/images/uom.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span> <i class="fas fa-bars uom"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="https://www.um.edu.mt/study" class="nav-item nav-link">Study at UM</a>
                <a href="https://www.um.edu.mt/about" class="nav-item nav-link">About the University</a>
                <a href="https://www.um.edu.mt/research" class="nav-item nav-link">Research at UM</a>
                <a href="https://www.um.edu.mt/academicentities/all" class="nav-item nav-link">Academic Entities</a>
                <a href="https://www.um.edu.mt/services/all" class="nav-item nav-link">All Services at UM</a>
            </div>
        </div>
    </nav>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#success').delay(3000).fadeOut();
            $('#denied').delay(3000).fadeOut();
        });
    </script>

</body>
</html>



