@model FYPAllocationTest.ViewModels.StudentViewModel
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <nav class="navbar bg-light ">
        <span class="navbar-brand  h1">FYP Allocation Portal</span>
    </nav>
    <div class="text-center mr-2 ">
        <a asp-controller="Allocation" asp-action="Export_Supervisors" class="btncustom btn-primary mt-2">Export Supervisors</a>
        <a asp-controller="Allocation" asp-action="Export_Students" class="btncustom btn-primary mt-2">Export Students</a>
        <br />
        <a asp-controller="Forms" asp-action="FormA" class="btncustom btn-primary mt-2">Student Form</a>
        <a asp-controller="Forms" asp-action="StaffForm" class="btncustom btn-primary mt-2">Supervisor Form</a>
        <br />
        <a asp-controller="Allocation" asp-action="FYPAlloc" class="btncustom btn-primary mt-2">Perform Allocation</a>
    </div>
</body>
</html>



